AuthorSuleymanBPekaydinxml-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="AUTHOR">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="AuthorId" type="xs:number"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Surname" type="xs:string"/>
      <xs:element name="DateofBirth" type="xs:date"/>
      <xs:element name="Nationality" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>